<%= form_with scope: :quote, url: quotes_path, local: true do |form| %>
  <div class="container">
    <div class="col-xs-12" style="height:50px;"></div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
        <h1>New Quote</h1>

        <% if @quote.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Something went wrong!</h4>

            <% @quote.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </div>
        <% else %>
          <div class="col-xs-12" style="height:50px;"></div>
        <% end %>

        <div class="form-group">
          <%= form.label :text %>
          <%= form.text_area :text, class: "form-control" %>

          <div class="col-xs-12" style="height:50px;"></div>
          <%= form.submit class: "btn btn-success btn-block" %>

          <%= link_to 'Back', quotes_path, class: "btn btn-primary btn-block" %>
        </div>

      </div>
    </div>
  </div>

<% end %>